---
layout: default
title: 如果变成天空
subtitle: 
---
<header id="header">
    <div id="overlay" style="opacity: 0.5"></div>
    <div id="about" style="opacity: 1">
            <h1><a href="/index.html">{{ page.title }}</a></h1>
            <p>{{ page.subtitle }}</p>
    </div>
</header>
<div id="posts" >
{% for post in paginator.posts %}
	{% capture isodd %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
	{% if isodd == '0' %}
		<article class="entry animate-in" data-anim-type="fade-in-left" data-anim-delay="200">
	{% else %}
		<article class="entry animate-in" data-anim-type="fade-in-right" data-anim-delay="200">
	{% endif %}

	
		{% if post.frontImage %}
		<div class="photo">
			<a href="{{ post.url }}" target="_blank">
				<img src="{{ post.frontImage }}">
			</a>
		</div>
		{% endif %}
		<a href="{{ post.url }}" target="_blank">
			<div id="captionsDiv" class="captions">
				{{ post.excerpt }}
			</div>
		</a>
		<div class="details">
			<!-- <div class="tags">
				<a href="http://theme-hogwood.tumblr.com/tagged/mountains" target="_blank">#mountains</a>
			</div> -->
			{{ post/date | date_to_string }}
		</div> 
	</article>
{% endfor %}

{% if paginator.total_pages > 1 %}
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
	{% endif %}

	{% for page in (1..paginator.total_pages) %}
	    {% if page == paginator.page %}
	      <span class="active">{{ page }}</span>
	    {% elsif page == 1 %}
	      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
	    {% else %}
	      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
	    {% endif %}
	{% endfor %}

	{% if paginator.next_page %}
    	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
	{% endif %}
{% endif %}

<p>分类</p>

{% for category in site.categories %}
{{ category | first }} 数量：
</span>{{ category | last | size }}</span>
<ul class="arc-list">
    {% for post in category.last %}
        <li>{{ post.date | date:"%d/%m/%Y"}} <a href="{{ post.url }}" target="_blank">{{ post.title }}</a></li>
    {% endfor %}
</ul>
{% endfor %}

<div class="scroll-to-top cursor-pointer tip-t-fade" data-tooltip="Scroll To Top"><a class="fa fa-chevron-circle-up fa-fw">scroll to top</a></div>

</div>

<script type="text/javascript">
	var header = document.getElementById("header");
	var overlay = document.getElementById("overlay");
	var about = document.getElementById("about");
	function setOpacity(){
		var top = document.documentElement.scrollTop || document.body.scrollTop;
		if(header) {
			header.style.backgroundPosition="50%"+ top/5 + "px";
		}
		if(about){
			about.style.opacity = 1-top/1000*3.5;
		}
		if(overlay){
			//overlay.style.opacity = 0.5 + top/1000;
			overlay.style.opacity = 0 + top/1000;
		}
	}
	window.onscroll = function () { 
		setOpacity();
	};
	setOpacity();
</script>