---
layout: default
title: INEXISTENCE
subtitle: 起风了，唯有努力生存。
---
<header id="header">
    <div id="overlay"></div>
    <div id="about">
    <img title="喵~" src="/assets/images/cat_man.png" >
            <h1><a href="/index.html">{{ page.title }}</a></h1>
            <p>{{ page.subtitle }}</p>
    </div>
</header>
<div id="posts" >
{% for post in paginator.posts %}
	{% capture isodd %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
	{% if isodd == '0' %}
		<article class="entry animate-in" data-anim-type="fade-in-left" data-anim-delay="200">
	{% else %}
		<article class="entry animate-in" data-anim-type="fade-in-right" data-anim-delay="200">
	{% endif %}

	
		{% if post.frontImage %}
		<div class="photo">
			<a href="{{ post.url }}" target="_blank">
				<img src="{{ post.frontImage }}">
			</a>
		</div>
		{% endif %}
		
			<div id="captionsDiv" class="captions">
				<h1><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></h1>
				<p>{{ post.date | date_to_string }} {{ post.place }}</p>
				{{ post.excerpt }}
			</div>
		
		<div class="details">
			<div class="tags">
				{% for tag in post.category %}
				<a >#{{ tag }}</a>
				{% endfor %}
			</div>
			<!-- {{ post/date | date_to_string }} -->
			<div class="read-more"><a href="{{ post.url }}" target="_blank">查看更多</a></div>
		</div> 
	</article>
{% endfor %}

{% if paginator.total_pages > 1 %}
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
	{% endif %}

	{% for page in (1..paginator.total_pages) %}
	    {% if page == paginator.page %}
	      <span class="active">{{ page }}</span>
	    {% elsif page == 1 %}
	      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
	    {% else %}
	      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
	    {% endif %}
	{% endfor %}

	{% if paginator.next_page %}
    	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
	{% endif %}
{% endif %}

</div>
<div style="background-color:#2c3e50;padding:180px;color:#FFF">
	<h2 style="color:#FFF">分类</h2>
	{% for category in site.categories %}
	<div class="float-half-left">
		<h3>{{ category | first }} ：
		</span>{{ category | last | size }}</span></h3>
		<ul class="arc-list">
		    {% for post in category.last %}
		        <li>{{ post.date | date:"%d/%m/%Y"}} <a href="{{ post.url }}" target="_blank">{{ post.title }}</a></li>
		    {% endfor %}
		</ul>
	</div>
	{% endfor %}
	<div class="clear"></div>
</div>
<div class="text-center" style="background-color:#2c3e50;color:#FFF;margin:0 auto;padding-bottom:55px;">
	<p  style="margin:0px;max-width:100%;color:#eeeeee;">没有人烟的小径 你和我一起走着 你一定也很寂寞</p>
</div>
