<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<!--[if IE]>
<script src="/assets/js/html5.js"></script>
<![endif]-->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all">
	<link rel="stylesheet" href="/assets/css/anim.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="/assets/css/code.css" type="text/css" media="all">
	<link rel="stylesheet" href="/assets/css/markdown.css" type="text/css" media="all">
	<title>{{ page.title }}</title>
</head>
<body onload="">
<div id="loading" style="opacity: 1;"></div>
<div id="container" style="opacity: 0;">
	{{ content }}
</div>

</div>
<div class="index-nav scroll-to-top" id="index_nav" style="opacity: 0;">
	<div class="border"></div>
	<div class="pointer-block"></div>
	<div class="nav-list">
		<div class="n-i gotop sub">
		<div class="btn_gotop" title="返回顶部"></div>
		<div>返回顶部</div>
	</div>
	</div>
</div>
</body>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/appear.min.js"></script>
<script src="/assets/js/smoothscroll.min.js"></script>
<script src="/assets/js/animations.min.js"></script>
<script src="/assets/js/scrollToTop.js"></script>
<script src="/assets/js/base.js"></script>
<script type="text/javascript">

</script>