<!DOCTYPE html>
<html lang="zh-CN">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<!--[if IE]>
<script src="/assets/js/html5.js"></script>
<![endif]-->
	<script src="/assets/js/jquery.min.js"></script>
	
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all">
	<link rel="stylesheet" href="/assets/css/anim.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="/assets/css/code.css" type="text/css" media="all">
	<link rel="stylesheet" href="/assets/css/markdown.css" type="text/css" media="all">
	<title>{{ page.title }}</title>
</head>
<body class="left">
<!--
<a id="slide"><div id="icon"></div></a>
<aside id="sidebar">
<div id="gradient"></div>
<div id="scrollable">
    <div id="avatar"><a href="index.html" ><img src="/assets/images/cat_man.png" alt="INEXISTENCE"></a></div>
    <nav id="navigation">
            <li><a href="ask.html">Ask</a></li>
            <li><a href="submit.html">Submit</a></li>
            <li><a href="archive.html">Archive</a></li>
            <li><a href="">Random</a></li>
            <li><a href="rss">RSS</a></li>
    </nav>    
    <form action="" method="get" id="search">
        <input type="text" name="q" value="" placeholder="Search…"/>
        <span>j</span>
    </form>
	<nav id="social">
		<a href="" class="twitter" target="_blank">1</a>
		<a href="" class="linkedin" target="_blank">7</a>
		<a href="" class="dribble" target="_blank">8</a>
		<a href="" class="instagram" target="_blank">q</a>
    </nav>
    <div id="credit">
    	© 2014–2015 Inexistence Blog</br>Powered by <a href="">Jianbin</a></div>
	</div>
</aside>-->



<div id="loading" style="opacity: 1;"></div>
<div style="height:100%;">
<div id="fade"></div>
<div id="container" class="wrap" style="opacity: 0;">
	{{ content }}
</div>
<div class="index-nav scroll-to-top" id="index_nav" style="opacity: 0;">
	<div class="border"></div>
	<div class="pointer-block"></div>
	<div class="nav-list">
		<div class="n-i gotop sub">
		<div class="btn_gotop" title="返回顶部"></div>
		<div>返回顶部</div>
	</div>
	</div>
</div>
</div>
</body>


<!-- <script src="/assets/js/bootstrap.min.js"></script> -->
<script src="/assets/js/appear.min.js"></script>
<script src="/assets/js/smoothscroll.min.js"></script>
<script src="/assets/js/animations.min.js"></script>
<script src="/assets/js/scrollToTop.js"></script>
<!--<script src="/assets/js/slide-menu.js"></script>-->
<script src="/assets/js/base.js"></script>