<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all">
	<link rel="stylesheet" href="/assets/css/anim.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="/assets/css/code.css" type="text/css" media="all">
	<link rel="stylesheet" href="/assets/css/markdown.css" type="text/css" media="all">
	<title>{{ page.title }}</title>
</head>
<body onload="loadOK()">
<div id="loading" style="opacity: 1;"></div>
<div id="container" style="opacity: 0;">
	{{ content }}
</div>
<div class="index-nav scroll-to-top" id="index_nav" style="opacity: 0;">
	<div class="border"></div>
	<div class="pointer-block"></div>
	<div class="nav-list">
		<div class="n-i gotop sub">
		<div class="btn_gotop" title="返回顶部"></div>
		<div>返回顶部</div>
	</div>
	</div>
</div>
</body>
<script type="text/javascript">

function getByClass(oParent, sClass) {
        var aEle=oParent.getElementsByTagName('*');
        var aResult=[];
        var re=new RegExp('\\b'+sClass+'\\b', 'i');
        for(var i=0;i<aEle.length;i++) {
                if(re.test(aEle[i].className)) {
                        aResult.push(aEle[i]);
                }
        }
        return aResult;
}
function getWinWidth() {
	if (window.innerWidth)
		winWidth = window.innerWidth;
	else if ((document.body) && (document.body.clientWidth))
		winWidth = document.body.clientWidth;
	if (document.documentElement && document.documentElement.clientHeight && document.documentElement.clientWidth) {
		winWidth = document.documentElement.clientWidth;
	}
	return winWidth;
}
function getWinHeight() {
	if (window.innerHeight)
		winHeight = window.innerHeight;
	else if ((document.body) && (document.body.clientHeight))
		winHeight = document.body.clientHeight;
	if (document.documentElement && document.documentElement.clientHeight) {
		winHeight = document.documentElement.clientHeight;
	}
	return winHeight;
}

var loading;
var container;
var full_img;
var header;
var overlay;
var about;
var index_nav;

function initView(){
	loading = document.getElementById("loading");
	container = document.getElementById("container");
	full_img = getByClass(document, "full-width");
	header = document.getElementById("header");
	overlay = document.getElementById("overlay");
	about = document.getElementById("about");
	index_nav = document.getElementById("index_nav");
}

function loadOK(){
	initView();
	if(loading)
		loading.style.opacity = 0;
	if(container)
		container.style.opacity = 1;
}

var index_nav = document.getElementById("index_nav");
function setOpacity(){
	var top = document.documentElement.scrollTop || document.body.scrollTop;
	if(header) {
		header.style.backgroundPosition="50%"+ top/5 + "px";
	}
	if(about){
		about.style.opacity = 1-top/1000*3.5;
	}
	if(overlay){
		//overlay.style.opacity = 0.5 + top/1000;
		overlay.style.opacity = 0 + top/1000;
	}
	if(index_nav ){
		index_nav.style.opacity = top>200? 0 + 1:0;
	}
}

var resize = function(){
	var winWidth = getWinWidth();
	var winHeight = getWinHeight();
	if(full_img){
		for(var i = 0; i < full_img.length; i++){
			full_img[i].style.width = winWidth+"px";
		}
	}
	if(index_nav){
		var left = 2528.5 - Number(winWidth);
		var right = 'auto';
		if(winWidth < 600 || (Number(left) > Number(winWidth))) {
			left = 'auto';
			right = '0px';
		} else {
			left = left + 'px';
		}
		index_nav.style.left = left;
		index_nav.style.right = right;
		index_nav.style.top = winHeight - 112 + "px";
		console.log('final left '+index_nav.style.left + "\n "+left);
	}

}

resize();
window.onresize = resize;

window.onscroll = function () { 
	setOpacity();
};
setOpacity();

</script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/appear.min.js"></script>
<script src="/assets/js/smoothscroll.min.js"></script>
<script src="/assets/js/animations.min.js"></script>
<script src="/assets/js/scrollToTop.js"></script>
<script src="/assets/js/base.js"></script>
